<div class="panel-heading" role="tab" id="budgetPanel" data-toggle="collapse" data-parent="#leftPanel" href="#budgetContent" aria-expanded="false" aria-controls="budgetContent" style="cursor:pointer;">
  <i class="fa fa-money" style="font-size: 37px; height: auto;display: inline;"></i>
  <!--<b style="margin-left: 10px;">Budget:</b>-->
</div>
<div id="budgetContent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="budgetPanel">
	<div class="btn-group-vertical" data-toggle="buttons" style="width: 100%;">
      <label class="btn btn-default center-block legend-blue text-left"><input type="checkbox" name="multifilter" value="blue">Cheapest</label>
      <label class="btn btn-default center-block legend-green text-left"><input type="checkbox" name="multifilter" value="green">Really nice</label>
      <label class="btn btn-default center-block legend-yellow text-left"><input type="checkbox" name="multifilter" value="yellow">Can afford</label>
      <label class="btn btn-default center-block legend-red text-left"><input type="checkbox" name="multifilter" value="red">Highest costs</label>
    </div>
</div>