<div style='padding: 4px; margin:4px; left:0px; top:0px; z-index: 0; position: absolute; width:150px;'>
  <div class="panel-group" id='leftPanel' role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" id='visa' rw-module="visa" style="display: none;"></div>
    <div class="panel panel-default" id='budget' rw-module="budget" style="display: none;"></div>
    <div class="panel panel-default" id='tourist' rw-module="tourist" style="display: none;"></div>
    <div class="panel panel-default" id='weather' rw-module="weather" style="display: none;"></div>
    <div class="panel panel-default" id='safety' rw-module="safety" style="display: none;"></div>
    <div class="panel panel-default" id='places' rw-module="places" style="display: none;"></div>
  </div>
</div>