<div class="panel-heading" role="tab" id="weatherPanel" data-toggle="collapse" data-parent="#leftPanel" href="#weatherContent" aria-expanded="false" aria-controls="weatherContent" style="cursor:pointer;">
  <img src="images/weather.png" style="width: 40px;height: auto;display: inline;">
  <!--<b style="margin-left: 10px;">Weather:</b>-->
</div>
<div id="weatherContent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="weatherPanel">
	<div class="btn-group-vertical" data-toggle="buttons" style="width: 100%;">
      <label class="btn btn-default center-block legend-white text-left"><input type="checkbox" name="multifilter" value="white">Below zero</label>
      <label class="btn btn-default center-block legend-blue text-left"><input type="checkbox" name="multifilter" value="blue">Quite cold</label>
      <label class="btn btn-default center-block legend-green text-left"><input type="checkbox" name="multifilter" value="green">Just right</label>
      <label class="btn btn-default center-block legend-yellow text-left"><input type="checkbox" name="multifilter" value="yellow">Comfortable</label>
      <label class="btn btn-default center-block legend-red text-left"><input type="checkbox" name="multifilter" value="red">Hot potato</label>
    </div>
</div>